# Ignoruj environment súbor
.env

# Node.js závislosti
node_modules/
npm-debug.log
yarn-error.log
config\database.js

# Logy
logs/
*.log

# Build súbory
dist/
build/

# VS Code nastavenia
.vscode/
latest.dump.1
cleaning_system_local.dump
latest.dump
config/database.js
